@tailwind base;
@tailwind components;
@tailwind utilities;

.test-class {
  color: red;
}

.no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}